@model myHotel.Models.Payment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Payment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.paymentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paymentType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.paymentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paymentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.totalPaid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.totalPaid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.customerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.customerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reservation.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reservation.status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PaymentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
