@model myHotel.Models.Payment

@{
    ViewBag.Title = "Payment";
}

<section class="page-section">
    
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
    <div class="transparent">
        <h2>Payment</h2>

        <label>Full Name:</label> @ViewBag.customer.customerName<br />
        <label>Address:</label>@ViewBag.customer.AddressLine1 <br />@ViewBag.customer.City <br />@ViewBag.customer.Postcode<br />
        <label>Phone:</label> @ViewBag.customer.Telephone<br />
        <label>Email:</label> @ViewBag.customer.Email<br />
        <label>Dates:</label> @ViewBag.booking.indate.ToShortDateString() - @ViewBag.booking.outdate.ToShortDateString();<br />
        <label>Guests:</label> @ViewBag.booking.adults Adult(s) and @ViewBag.booking.children child(ren)<br />
        <label>Total to Pay:</label>@ViewBag.booking.totalpay
        <div class="form-group">
            <div class="col-md-4 col-sm-5 col-lg-3">
                
                <br />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Confirm Booking" class="btn btn-default" />
                    </div>
                </div>

            </div>
        </div>
    </div>
        }

</section>